*{
    font-family: century gothic;
}

html{
    height: 100%;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(69,69,69,1) 100%);
    min-height: 96%;
}

.title{
    text-align: center;
    background: -webkit-linear-gradient(180deg, rgba(255,232,31,1) 0%, rgba(242,122,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cardHolder{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardStyle{
    background: rgb(255,232,31);
    background: linear-gradient(145deg, rgba(255,232,31,1) 0%, rgba(242,122,33,1) 100%);
    width: max-content;
    height: fit-content;
    padding: 3%;
    width: 15%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.infoLabel{
    margin: 0%;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    background-color: #000000;
    color: #FFE81F;
    border-radius: 20px;
    margin-top: 3%;
    padding: 1%;
    border-style: none;
}

.searchButton{
    background: rgb(255,232,31);
    background: linear-gradient(145deg, rgba(255,232,31,1) 0%, rgba(242,122,33,1) 100%);
    color: #000000;
    margin-left: 1%;
    margin-top: 0%;
    padding: 0.5% 1%;
}

#bar{
    padding: 7px;
    border-radius: 50px;
    border-style: none;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
}