*{
    font-family: century gothic;
}

body{
    background-color: black;
}

.title{
    text-align: center;
    color: #FFE81F;
}

#cardHolder{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardStyle{
    background-color: #FFE81F;
    width: max-content;
    height: fit-content;
    padding: 3%;
    width: 15%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.infoLabel{
    margin: 0%;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    background-color: #000000;
    color: #FFE81F;
    border-radius: 20px;
    margin-top: 3%;
    padding: 1%;
    border-style: none;
}

.searchButton{
    background-color: #FFE81F;
    color: #000000;
    margin-left: 1%;
    margin-top: 0%;
    padding: 0.5% 1%;
}

#bar{
    padding: 7px;
    border-radius: 50px;
    border-style: none;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
}